---
layout: default
overview:true
---
Welcome.
Bienvenido.
Wilkommen.
Dobrodošli.

<!DOCTYPE html>
<html>
  {% include head.html %}
    <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <header class="page-header">
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
      </header>
    </div>

    <div>
       <ul>
         <li><a href="resume.html">My CV</li>
         <li><a href="privacy_policy.html">Privacy policy for my applications.</a></li>
       </ul>
    </div>
    </body>
</html>